html,body,div,section,dl,dt,dd,p,h1,h2,h3,h4,h5,h6,ul,ol,li,canvas,img,input,textarea
	margin 0
	padding 0

html,body
	width 100%
	height 100%
	font-size 14px
	color #333

object
	display none//360浏览器下工商银行的插件加入了一个object标签 sb工行

#wrapper
	position relative
	height 100%

li
  list-style none

i
	font-style normal

a
	text-decoration none
	color inherit